@media (max-width: 1200px) {
    .header {
        padding: 5%;
    }

    .header-menu {
        justify-content: center;
    }

    .presentation {
        flex-direction: column;
        padding: 5%;
    }

    .presentation-content {
        width: auto;
        padding: 5%;
    }

    .presentation-content-title {
        width: auto;
        justify-content: center;
        font-size: 2.25rem;
    }

    .presentation-title-featured {
        width: auto;
        justify-content: center;
        font-size: 3rem;
    }
    
    .presentation-description {
        width: auto;
        padding: 5%;
    }

    .presentation-description-link {
        width: 15%;
        padding: 2%
    }

    .service {
        width: auto;
    }

    .service-content-section {
        width: auto;
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .header {
        justify-content: center;
    }
    
    .header-menu {
        flex-direction: column;
        gap: 10px;
    }
}