@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat&display=swap');

:root {
    --primary-color: #080808;
    --secundary-color: #ffffff;
    --tertiary-color: #141414;

    --primary-font: 'Kdam Thmor Pro', sans-serif;
    --secundary-font: 'Montserrat', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: 2% 0% 0% 5%;
}

.header-menu {
    width: auto;
    display: flex;
    gap: 80px;
    align-items: center;
}

.header-menu-link {
    color: var(--secundary-color);
    font-size: 1.5rem;
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 600;
}

.header-menu-link:hover {
    border-bottom: 2px solid var(--secundary-color);
}

.presentation{
    padding: 5% 0% 10% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.presentation-content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.presentation-content-title {
    color: var(--secundary-color);
    font-size: 3.25rem;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 600;
    padding: 0% 0% 10% 0%;
    gap: 5px;
}

.presentation-title-featured {
    color: var(--primary-color);
    background-color: var(--secundary-color);
    font-size: 4rem;
    padding: 0 0 0 6%;
    border: 1px solid var(--secundary-color);
    border-radius: 8px;
}

.presentation-content-image {
    border-radius: 8px;
    width: 100%;
}

.presentation-description {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15% 15% 0% 1%;
    gap: 30px;
}

.presentation-description-text {
    color: var(--secundary-color);
    font-family: var(--secundary-font);
    font-size: 1.5rem;
}

.presentation-description-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--secundary-color);
    font-family: var(--secundary-font);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--secundary-color);
    padding: 2%;
    width: 25%;
    border-radius: 6px;
}

.presentation-description-link:hover {
    border: 2px solid var(--secundary-color);
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

.footer {
    background-color: var(--tertiary-color);
    color: var(--secundary-color);
    text-align: center;
    font-size: 20px;
    font-family: var(--primary-font);
    padding: 15px;
}